
#images-historia{
    display: flex;
    justify-content: center;
}

#images-historia img {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 300px;
    width: auto;
}   
