#pontos-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.ponto {
    background-color: brown;
    color: white;
    padding: 9px;
    width: calc(50% - 10px);
    box-sizing: border-box;
}

.nome-ponto {
    font-weight: bold;
    font-size: 20pt;
}

.imagem-ponto {
    height: 200px;
    width: auto;
    margin-right: 15px;
}
